@media (max-width: 768px) {
	.banner-section {
       max-height: 25vh;	
	}
	.banner-section h1 {
		font-size: 2rem; 
		margin-top: 40px !important;
	  }
}
.service-cards {
    min-width: 320px;
    margin-right: 30px;
    border: 1px solid #ddd; 
    border-radius: 8px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    margin-bottom: 20px; 
    padding: 5px; 
    transition: transform 0.3s ease-in-out; 
  }
  
  .service-cards:hover {
    transform: scale(1.05); 
  }
  
  